/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/*FINE RESET*/

body {
    font-family: "Montserrat, serif";
    /*test*/
    background-color: aqua;
    /*test CAMBIARE IN NERO*/
    color: red;
}

/*INIZIO HEADER*/
header {
    width: 100%;
    /*test*/
    height: 720px;
    background-color: brown;
}

/*row-top*/
.header__row-top {
    width: 100%;
    /*test*/
    height: 70px;
    background-color: chartreuse;
}
.container-generale {
    width: 56%;
    background-color: crimson;
    margin: auto;
}

.container-left {
    width: 50%;
    /*test*/
    height: 70px;
    background-color: blue;
    float: left;
}

.container-left a {
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 23px;
}

.container-right {
    width: 50%;
    /*test*/
    height: 70px;
    background-color: white;
    float: left;
}

.container-right ul {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: right;
    width: 100%;
}
/*row-top*/


.header__row-down {
    width: 100%;
    /*test*/
    height: 70px;
    background-color: chocolate;
}

.cover {
    width: 100%;
    /*test*/
    height: 80.4%;
    background-color: hotpink;
}
/*FINE HEADER*/


/*INIZIO MAIN*/
main {
    width: 100%;
    /*test*/
    height: 2050px;
    background-color: lightslategray;
    padding-top: 50px;
}

.wrapper-top {
    margin: auto;
    width: 80%;
    /*test*/
    height: 1200px;
    background-color: lime;
}

.container-top {
    width: 70%;
    /*test*/
    height: 400px;
    background-color: mediumturquoise;
    margin: auto;
}

.container-centre {
    width: 70%;
    /*test*/
    height: 400px;
    background-color: peru;
    margin: auto;
}

.container-cols {
    width: 70%;
    /*test*/
    height: 400px;
    background-color: purple;
    margin: auto;
}

.wrapper-centre {
    width: 100%;
    /*test*/
    height: 400px;
    background-color: royalblue;
}

.wrapper-bottom {
    width: 80%;
    /*test*/
    height: 400px;
    background-color: wheat;
    margin: auto;
}

.container-bottom {
    width: 70%;
    /*test*/
    height: 400px;
    background-color: violet;
    margin: auto;
}
/*FINE MAIN*/


/*INIZIO FOOTER*/
footer {
    width: 100%;
    /*test*/
    height: 400px;
    background-color: rgb(40, 40, 71);
    margin: auto;
}

.footer__container {
    width: 56%;
    /*test*/
    height: 100%;
    background-color: coral;
    margin: auto;
}
/*FINE FOOTER*/