/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
/*FINE RESET*/

body {
    font-family: "Montserrat, serif";
    /*test*/
    background-color: aqua;
}

/*INIZIO HEADER*/
header {
    width: 100%;
    /*test*/
    height: 720px;
    background-color: brown;
}

.header__row-top {
    width: 100%;
    /*test*/
    height: 70px;
    background-color: chartreuse;
}
.header__row-down {
    width: 100%;
    /*test*/
    height: 70px;
    background-color: chocolate;
}

.cover {
    width: 100%;
    /*test*/
    height: 80.4%;
    background-color: hotpink;
}
/*FINE HEADER*/


/*INIZIO MAIN*/
main {
    width: 100%;
    /*test*/
    height: 1500px;
    background-color: lightslategray;
    padding-top: 50px;
}

.wrapper-top {
    margin: auto;
    width: 80%;
    /*test*/
    height: 800px;
    background-color: lime;
}
/*FINE MAIN*/